* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.picbox {
  /* background: url("C:\\Users\\lee\\Desktop\\romain-kurdi-apothicary-shop.jpg")
    no-repeat; */
  /* background: url(https://z3.ax1x.com/2021/06/27/RYhRG8.jpg) no-repeat; */
  background: url(../images/background.jpg) no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.div1 {
  width: 100%;
  height: 33%;
}

.minibox {
  float: left;
  width: 25%;
  height: 100%;
  /* background-color: skyblue;
  border: 1px solid blue;
  box-sizing: border-box; */
}

.div2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 33%;
}
